body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "gg sans", "Microsoft YaHei New", 微软雅黑, "Microsoft Yahei", "Microsoft JhengHei",
    宋体, SimSun, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }

  /* 滚动条的轨道 */
  ::-webkit-scrollbar-track {
    background: #eeeeee;
    /* background: #ffffff; */
  }

  /* 滚动条的滑块 */
  ::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 5px;
  }

  /* 鼠标悬停在滑块上时 */
  ::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
  }
}
#root {
  width: 100%;
  height: 100%;
  font-family: "gg sans", "Microsoft YaHei New", 微软雅黑, "Microsoft Yahei", "Microsoft JhengHei",
    宋体, SimSun, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* user-select: none; */

  overflow: hidden;

  /* 隐藏默认的滚动条 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }

  /* 滚动条的轨道 */
  ::-webkit-scrollbar-track {
    background: #eeeeee;
    /* background: #ffffff; */
  }

  /* 滚动条的滑块 */
  ::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 5px;
  }

  /* 鼠标悬停在滑块上时 */
  ::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
  }
}
